@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables*/
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-extra: #FB565A;
  --basic-extra: #00CA74;
  --basic-extra: #EFC849;
  --bacic-extra: #666666;


}

/* Global*/
.page-body {
  min-width: 1157px;
  margin: 0%;
  padding: 0%;
  font-family: "roboto";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main */


.main-navigation-wrapper {}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation-cart {
  grid-column-start: 7;
}

.site-navigation {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding-left: 0px;
  margin-block-start: 75px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 45px;
  line-height: 30px;
  color: var(--basic-black--);
  background-color: transparent;
  list-style: none;


}

.site-navigation a,
li {
  color: var(--basic-black--);



}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #FB565A;

}

.main-header {
  left: 0px;
  top: 0px;
  align-items: center;
  margin-bottom: 0px;
  background: #EEEEEE;
  min-height: 355px;

}

.main-header-logo {

  margin-block-start: 49px;
}

.slide {

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding-bottom: 40px;

}

.nerds-slide {
  width: 760px;
  object-fit: contain;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.glav {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.glav-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.main-header-catalog {}

.main-background {}

.sorting {

  display: flex;
  justify-content: space-around;
}

/* container*/
.container {
  width: 1160px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}


/* Offers*/

.offers {
  padding-top: 80px;

  list-style: none;

}

.offers-list {
  font: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 100px;
  list-style: none;
  text-align: center;

}

.offers-item {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

}

.offers-website {}

.offers-illustration {}

/*Benefits*/
.benefist-description {}

.benefist {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: px;
  margin-top: 80px;
  padding: 0;
}

.benefist-description {
  width: 571px;
  max-height: 379px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
}

.description {
  padding-bottom: 32px
}


.services-list {
  padding-top: 40px;
}

.services-item {
  margin-bottom: 20px;
  padding-top: 23px;
}

/*advantages*/

.container-img {
  padding-bottom: 37px;
}

.advantages {
  margin-left: 149px;
  padding: 0;
  width: 374px;
  height: 413px;

}

.advantages-item h3 {
  font-size: 45px;

}

.advantages-container {
  /*outline: #283136 solid 5px;*/
  display: block;
}

.advantages-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /*outline: #00CA74 solid 5px;*/
  padding: 0px;
  margin: 0px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
  list-style: none;
  /*text-align: center;*/
  padding: 0px;
  /*outline: #EFC849 solid 5px;*/
}

section.main-footer-container {}

section.contacts {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  width: 319px;
  padding: 38px 50px 47px;
  box-sizing: border-box;
}

.map {

  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.partners-list {
  
  display: flex;
  justify-content: space-between;
  margin-top: 126px;
  margin-bottom: 80px;


  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 42px;*/
}



/* Button */


.contacts-button {
  font: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #FB565A;
  border: none;
  text-transform: uppercase;
  vertical-align: middle;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-left: 44px;
  padding-right: 44px;




}

.button-more {
  background: #FB565A;
  border-radius: 3px;
  font: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding-block-start: 17px;
  padding-block-end: 17px;
  padding-left: 54px;
  padding-right: 54px;
  display: inline-block;
  margin-block-start: 38px;
  margin-block-end: 80px;

}

.input-show {
  background: #EEEEEE;
  border-radius: 3px;
  font: normal;
  font-size: 16px;
  color: #000000;
  border: none;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-left: 88px;
  padding-right: 88px;
  display: inline-block;
  margin-block-start: 50px;
  margin-right: 0px;
  width: 260px;
}

.button-website {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #FB565A;
  border: none;
  padding-block-start: 17px;
  padding-block-end: 17px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;


}

.button-applications {
  border-radius: 3px;
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  background-color: #00CA74;
  border: none;
  text-transform: uppercase;
  padding-block-start: 17px;
  padding-block-end: 17px;
  padding-left: 40px;
  padding-right: 40px;
}

.button-presentation {
  border-radius: 3px;
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  background-color: #EFC849;
  border: none;
  text-transform: uppercase;
  padding-block-start: 17px;
  padding-block-end: 17px;
  padding-left: 40px;
  padding-right: 40px;
}

.button-send {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  background-color: #FB565A;
  border: none;
  text-transform: uppercase;
}

/* Footer */
.write {
  padding-left: 100px;
  padding-top: 63px;
  padding-right: 90px;
  padding: 84px;
  max-width: 761px;
  height: 353px;
  left: 240px;
  top: 1706px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.main-footer {

  min-height: 416px;
  background-image: url("img/map1.png");
  position: relative;
  padding-top: 54px;
  padding-left: 140px;
  padding-right: 981;
}

.footer-social ul {
  list-style: none;
}

.footer-social {

  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-social-container {
  padding-top: 150px;
  position: relative;
}

/* Social button*/

.social-item {
  margin-left: 9px;
  height: 81px;
  width: 81px;
  border-radius: 50%;
  background-color: #E1E1E1;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  display: block;
  grid-template-columns: 1fr 1fr 1fr;
  outline: #FB565A 5px solid;


}


.footer-proposal {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;


}

.footer-proposal h3 {
  font-size: 36px;
  font-family: inherit;
}

.footer-proposal p {
  font-size: 16px;
  font-family: inherit;
  font-style: normal;

}


.social-list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  float: left;
  padding-left: 0px;
  background-image:

}

.contacts-paragraph,
.contacts-phone {
  color: var(--bacic-extra);
}

/*Catalog*/
.glav-h1 {
  font-family: inherit;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  padding-top: 92px;
}

.radio li,
.checkbox li {
  font: normal;
  color: #283136;
  list-style: none;
  margin-bottom: 20px;
}

.checkbox-input-checked {}

.popap {
  border: 1px solid black;
  max-width: 651px;
  max-height: 379;
  padding-left: 10px;
}


.cost {
  width: 50px;
  display: grid;
  grid-template-columns: 1fr;

}

.gallery {
  max-width: 760px;
  margin-top: 55px;

}

.gallery-item {
  width: 359px;
  min-height: 578px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  margin-bottom: 30px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 55px;

  /*display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    white-space: nowrap;
    list-style: none;
    margin-top: px;
    margin-left: px;*/
}

.filter {
  margin-top: 55px;
  width: 260px;
}

.filter legend {
  margin-bottom: 48px;
  font-size: 18px;
}

.fieldset ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  line-height: 19px;
}

.pagination-number {
  background: #EEEEEE;
  border-radius: 3px;
  font: normal;
  font-size: 16px;
  color: #000000;
  border: none;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  margin-right: 11px;
  width: 50px;
  box-sizing: border-box;
}

.pagination-list {

  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  padding-left: 0px;
  list-style: none;

}

.button-next {
  background: #EEEEEE;
  border-radius: 3px;
  font: normal;
  font-size: 16px;
  color: #000000;
  border: none;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-left: 88px;
  padding-right: 88px;
  display: inline-block;
  margin-right: 0px;
  width: 260px;
}

.filter fieldset {
  padding: 0px;
  margin: 0px;
  margin-bottom: 47px;
  border: none;

}

.cost {

  width: 208px;

}

.gallery-header {
  fill: #4D4D4D;
  opacity: 0.12;
  vertical-align: top;
}

.gallery-item:hover .gallery-header {
  opacity: 1;
}


.partners-group {
  opacity:0.2;
}

.partners-a:hover .partners-group {
  opacity: 1;
}

/*.Rectangle{
  margin-top: 90px;
}

/*, ::after, ::before {
    box-sizing: border-box;
    }*/
