@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff"); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables*/
:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-extra: #FB565A;
    --basic-extra:  #00CA74;
    --basic-extra:  #EFC849;
    --bacic-extra: #666666;


}

/* Global*/
.page-body {
    min-width: 960px;
    margin: 0%;
    padding: 0%;
    font-family: "roboto";
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: none;
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page {
    height: 100%;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main */
.conteiner {
    width: 300px;
    margin: 0 auto;
    padding: 500 500px;
    outline: 5px solid red;
    outline-offset: -5px;
}

.main-navigation-wrapper {
    
}

.site-navigation {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 45px;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black--);
    background-color: transparent;
    outline: 5px solid rgb(0, 129, 151);
    outline-offset: -5px;
    list-style: none;
    
    
}

.site-navigation a, li {
    color: var(--basic-black--);
    
    
    
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color:#FB565A;
    
}

.main-header {
    position: absolute;
    width: 1440px;
    height: 545px;
    left: 0px;
    top: 0px;
    align-items: center;
    background: #EEEEEE;
    margin-bottom: 0px;
    outline: 5px solid green;
    outline-offset: -5px;
    
}

.main-header-logo {
    position: absolute;
    left: 140px;
    top: 48.98px;
}

.slide {
    position: absolute;
    left: 140px;
    top: 114px;

}


.header-div {

}

.nerds-slide {
    position: absolute;
    width: 760px;
    height: 431px;
    margin-left: 537px;
    margin-top: 114px;
}

.main-header-catalog {
  
}
.main-background {
   


}

/* container*/

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Offers*/

.offers  {
    margin-top: 625px;
    margin-bottom: 80px;
    list-style: none;

}

.offers-list { 
    font: normal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    column-gap: 100px;
    list-style: none;
    text-align: center;
    
}

.offers-item {
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;

}

.offers-website {
    


    
}

.offers-illustration {
    

}

/*Benefits*/
.benefist-description {

}

.benefist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: px;
    outline: 5px solid rgb(148, 2, 92);
    outline-offset: -5px;
    margin: 0;
    padding: 0;
}

.benefist-description {
    width: 571px;
    height: 379px;
    outline: 5px solid yellow;
    outline-offset: -5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.description {
    
}

/*advantages*/

.advantages {
    margin: 0;
    padding: 0;
    width: 374px;
    height: 413px;
    outline: 5px solid blueviolet;
    outline-offset: -5px;
}

.advantages-item {
    
    outline: 5px solid rgb(199, 94, 24);
    outline-offset: -5px;
}

.advantages-list  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    list-style: none;
    text-align: center;
}


.parters-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 42px;
}

/* Button */

.button-more,
 .contacts-button  {
    font: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #FB565A ;
    border: none;
    text-transform: uppercase;
    vertical-align: middle;
}



.button-website {
    font: inherit;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #FB565A;
    border: none;
}

.button-applications {
    font: inherit;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
    background-color: #00CA74;
    border: none;
    text-transform: uppercase;
}

.button-presentation {
    font: inherit;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
    background-color: #EFC849;
    border: none;
    text-transform: uppercase;
}

.button-send {
    font: inherit;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
    background-color:#FB565A;
    border: none;
    text-transform: uppercase;
}

/* Footer */
.write {
    padding-left: 100px;
    padding-top: 63px;
    padding-right: 90px;
    padding: 84px;
    width: 761px;
    height: 353px;
    left: 240px;
    top: 1706px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    outline: 5px solid indigo;
    outline-offset: -5px;
}

.main-footer {
    


}

.footer-social ul{
    list-style: none;
}

.footer-social {
    text-align: left;
}

/* Social button*/

.social-button {
    color: black;
}

.contacts-paragraph,
.contacts-phone {
    color: var(--bacic-extra);
}

/*Catalog*/

.radio li, 
.checkbox li {
    font: normal;
    color:#283136;
    list-style: none;

}

.checkbox-input-checked {

}


/* Grid*/
.page {
    height: 100%;
}






.popap {
    border: 1px solid black;
    max-width: 651px;
    max-height: 379;
    padding-left: 10px;
}

