.content-1 {
    border: 1px solid black;
    max-width: 651px;
    max-height: 379;
    padding-left: 10px;
}
.content-2 {
    border: 1px solid black;
    max-width: 651px;
    max-height: 379;
    padding-left: 10px;
    margin-top: 10px;
    
    
    
}

.popap {
    border: 1px solid black;
    max-width: 651px;
    max-height: 379;
    padding-left: 10px;
}

.logo-htmlAcademy {
    
 
 }

 .logo-borofinski {
    
}
 

 .logo-pink {
    
}

 

 .logo-mishka {
    
 }
 
 .dws {
    width: 219px;
    height: 50px;
    left: 190px;
    background: #FB565A;
    border-radius: 1px;
 }

 .butt {
   
 }

 .interest-146 {

 }

 .interest-100 {

 }

 .interest-50 {
     
 }
 

